
body {
	margin: 0;
}

section {
	padding: 5% 0;
}

.signup h1 {
	font-size: 52px;
	text-align:center;
	font-family: 'chicle', sans-serif;
	color:#021EA0;
}

.signup input, .signup select {
	padding: 1em;
	border-radius:3px;
	border: 2px solid lightgray;
	margin-bottom: 1.5em;

}

.signup {
	background-color:lightyellow;
}

.signup form {
	width:100%;
}

.signup button {
	padding: 1em 3em;
	border-radius:3px;
	border: 2px solid lightgray;
	margin-bottom: 1.5em;
	font-family: 'chicle', sans-serif;
	font-size:1em;
}
.signup p {
	font-family: 'chicle', sans-serif;
}

.container {
	max-width:1280px;
	margin: 0 auto;
}

.guidelines {
	font-family: 'chicle', sans-serif;
	font-size:24px;
	margin: auto 0;
}

.guidelines p {
	margin-top: 10px;
}

.text {
	max-width: 900px;
	font-size: 1.1em;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.navigation {
    padding: 1em 0;
    background-color: #021EA0;
	font-family: 'chicle', sans-serif;
	font-size: 18px;
	z-index: 3;
	top:0;
	right:0;
	left:0;
	position:fixed;
}

.pagestyle .container {
	font-family: 'chicle', sans-serif;
	font-size:24px;
}

.pagestyle .text {
	color:gold;
	background-color:rgba(0,0,0,0.7);
	border-radius:25px;
	padding: 1em;
}

.pagestyle a {
	color:white;
}

.pagestyle a:hover {
	color:hotpink;
}

.pagestylecontact .container {
	font-family: 'chicle', sans-serif;
	font-size:24px;
}

.pagestylecontact .text {
	color:gold;
	background-color:rgba(0,0,0,0.7);
	border-radius:25px;
	padding:0.4em;
}

.pagestylecontact a {
	color:white;
}

.pagestylecontact a:hover {
	color:hotpink;
}

.pagestylecontact h2 {
	color:white;
}

.footer {
  background-color:#444;
  width:100%;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align:center;
  z-index:3;
}

.footer li a {
	text-decoration: none;
    color: white;
	text-align:center;
 
}

.footer li {
	padding: 7px;
	display:block;
	background-color: #444;
	text-align:center;
	display:inline;


}

.footer ul {
	color:white;
	display:inline;
	text-align:center;
}

.footer p {
	color:white;
	text-align:center;
	font-size:0.8em;
}
#announcements {
  	position: absolute;
  	left: 4%;
  	top: 15%;
	list-style-type: circle;
	color: #021EA0;
	font-family: 'chicle', sans-serif;
	text-align: left;
	width: 300px;
	border: 10px black;
	padding: 12px;
	margin: 12px;
}

#announcements li {
	color:gold;
	background-color:rgba(0,0,0,0.5);
	border-radius:25px;
	padding:1em;
	font-size:1.2em;
}

#announcements li {
	margin: 1em 0;
}

nav {
	position:fixed;
}

.title {
	background-color: transparent;
	color: #021EA0;
	font-family: 'chicle', sans-serif;
	position: absolute;
	margin-bottom: 0;
	margin-right:0;
	padding: 1em;
	right:0;
	bottom:0;
}

.title h1 {
	font-size: 80px;
}

.feature {
  height:900px;
  width:100%;
  background-color: black;
  background: url('images/Resized/net2.jpg') no-repeat center center;
  background-size: cover;
  position:relative;
}


.feattwo {
  width:100%;
  background-color: black;
  background: url('images/Resized/sand-extend2.jpg') no-repeat;
  position:relative;
  background-size:cover;
  padding-top: 10em;
  padding-bottom:4.5em;
}

.twovstwoimg {
	padding:2em;
	margin-right:11em;
}

.femalespikeimg {
	padding:2em;
	margin-right:13em;
}

.femalespikeimg p {
	color:gold;
	background-color:rgba(0,0,0,0.7);
	padding:1em;
	font-size:1em;
	font-weight:bold;

}

.femalespikeimg a {
	color:white;
}

.femalespikeimg a:hover {
	color:hotpink;
}

.call-to-action {
  color:white;
  text-align:center;
  text-decoration:none;
}

.call-to-action div {
  color:white;
  height: 80px;
  width: 200px;
  padding: 16px;
  background-color:limegreen;
  border-radius:15px 50px;
  transition: all .2s ease-in-out;
}

.call-to-action:hover div {
	transform: scale(1.1);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}



li {
	display:block;

	
}


.navigation li a {
	text-decoration: none;
    color:gold;
    text-align: center;
    padding: 14px 16px;
	display:block;
	float:right;
	

}

.navigation li a:hover {
    color:white;
}

.navigation li a:active {
	color:white;
}

.navtitle {
	background-color:transparent;
	float:left;
    text-align: center;
	display:block;
	font-size:2em;
	margin:0;

}

.navtitle a {
	color:white;
	text-decoration:none;
}

.navtitle a:hover {
	color:gold;
}

.navtitle li a:hover {
	background-color:transparent;
	color:white;
}

.title {
	text-align: center;
	background-color: transparent;
	color: #021EA0;
	float:left;
	font-family: 'chicle', sans-serif;
	position: absolute;
	margin-bottom: 0;
	margin-right:0;
	padding: 1em;
	
	
}

ol {
	color:black;
	text-align: left;
	list-style-type:circle;
	background-color:#333;
	
}

ul {
	list-style-type:circle;
	margin: 0;
	padding: 0;
	
}


h2 {
	text-align:center;
	font-size:40px;
	font-family: 'chicle', sans-serif;
	margin:0;
	padding:15px;
}

h3 {
	color:gold;
	font-family: 'chicle', sans-serif;
	font-size: 30px;
	text-align:center;
	padding: 5px;
	background-color: #021EA0;
}
table.standingstable {
	
  width: 100%;
  background-color: lightyellow;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
  margin: 0 auto;
  padding: 2em;
  text-align:center;
}

table.standingstable td, table.standingstable th {
  border-width: 2px;
  border-color: #000000;
  border-style: none;
  padding: 5px;
  font-weight:bold;
}

table.standingstable th {
	color:gold;
}

table.standingstable thead {
  background-color: #021EA0;
}

.othertitles {
	font-size: 26px;
	text-align:center;
	font-family: 'chicle', sans-serif;
	color:white;
}

.leaderboard .othertitles h1 {
	background-color:rgba(0,0,0,0.8);
	border-radius:25px;
	padding:0.4em;
	margin-bottom:1em;

}

.leaderboard {
  padding-bottom:5em;
}

.whitebackgroundtitles {
	font-size: 32px;
	text-align:center;
	font-family: 'chicle', sans-serif;
	color: #021EA0;
}